#body-01 {
	font-size: 104pt;
}

.cube a {
	display: block;

	width: 150px;
	height: 50px;
	background-color: red;
 padding:20px 20px 20px 20px;
 margin: 0 auto;
   font-family:Helvetica;

      font-size: 20px;

      font-weight: bold;
      color: white;
      text-align: center;
}

body {
	background-color: black;
	color: red;
	font-family: Times New Roman; 
}
