body {
	background-color: red; 
	color: black;
}

@font-face {
	font-family: "VTF_Mixo";
	src: url("fonts/VTF_Mixo.woff2") format("woff2"); 
}


#body-01 {
	font-family: 'VTF_Mixo', serif;
	font-size: 24pt;
	width: 700px;
}

.cube a {
	display: block;

	width: 150px;
	height: 50px;
	background-color: black;
 padding:20px 20px 20px 20px;
 margin: 0 auto;
   font-family:Helvetica;

      font-size: 20px;

      font-weight: bold;
      color: white;
      text-align: center;
}